// -- circles -- //
@mixin create-circle($size, $color, $top: 0, $left: 0) {
    content: "";
    position: absolute;
    top: $top;
    left: $left;
    width: $size;
    height: $size;
    border-radius: 100%;
    border: 5px solid $color;
}

// -- inputs + labels -- //
@mixin create-input($border-size, $border-radius, $input-gradient, $width: auto, $height: auto) {
    width: $width;
    height: $height;
    border: double $border-size transparent;
    border-radius: $border-radius;
    background-image: linear-gradient(#fff, #fff), $input-gradient;
    background-origin: border-box;
    background-clip: content-box, border-box;
    text-align: center;

    &::placeholder {
        font-family: "Maven Pro", sans-serif;
        text-align: center;
    }
}
@mixin create-label($width) {
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0;
    font-weight: 700;
    &-error {
        font-size: 1.1rem;
        font-weight: 400;
        position: absolute;
        top: 2rem;
        left: 0;
        margin: 0 auto;
        width: $width;
    }
}

// -- buttons -- //
@mixin create-button($border-size, $border-radius, $input-gradient, $input-gradient-inverted, $width:auto, $height:auto) {
    position: relative;
    width: $width;
    height: $height;
    margin: 59px auto 0 auto;
    font-weight: 700;
    color: #fff;
    border-radius: $border-radius;
    background: $input-gradient;
    border: none;
    z-index: 1;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: $border-radius;
        background: $input-gradient-inverted;
        font-size: 2rem;
        z-index: -1;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }
    &:hover::before,
    &:focus::before {
        opacity: 1;
    }
}
