// -- colors -- //
$solid-border-color: #5373b2;

// -- fonts -- //
$nav-font-size: 1.8rem;
$regular-font-size: 1.6rem;
$title-font-size: 5rem;

// -- radius -- //
$border-radius: 35px;

// -- dimensions etc. -- //
// general
$content-min-width: 768px;
$content-max-width: 1224px;
// navbar
$nav-element-padding: 14px 20px;
// media
$mobile-max-width: 900px; // temporary?